/* CSS Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

/* Reset for all heading elements */
h1, h2, h3, h4, h5, h6 {
  margin: 0;              /* Remove default margins */
  padding: 0;             /* Remove any padding */
  font-size: inherit;     /* Inherit font size from parent */
  font-weight: inherit;   /* Inherit font weight from parent */
  line-height: inherit;   /* Inherit line height from parent */
  color: inherit;         /* Inherit text color from parent */
}

pre{
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  font-family: unset;
}

/*body {
  line-height: 1;
  font-family: Arial, sans-serif;
}*/

ul,
ol {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: '';
  content: none;
}


/** variable */
:root {
  --pta-fg:#37424D;
  --ptp-dimension-600:12px;
  --ptp-dimension-1200:24px;
  --ptp-dimension-1600:32px;
  --pta-fg-subtle:#8194A7;
  --pta-space-100:2px;
  --pta-space-200:4px;
  --pta-space-300:6px;
  --pta-bg-secondary:#F8F8FC;
  --pta-size-sm:24px;
  --pta-size-lg:40px;
  --pta-roundness-sm:4px;
  --pta-primary-br-subtle:#D7EEFE;
  --pta-primary-fill-subtle:#EBF7FF;
  --pta-primary-fg:#0BA2E8;
  --pta-lineheight-7:14px;
  --pta-roundness-md:6px;
  --mt-blue-5:rgb(69,100,227)
}

body{
  color:var(--pta-fg);
}

.mahdaad-block-container{
  margin-block: 10px;
}

/** text */
.mahdaad-text {
  /*color: --pta-fg;*/
  /*font-family: Arial;*/
  /*font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: var(----ptp-dimension-1600, 32px); !* 133.333% *!*/
  /*color: --pta-fg;*/
  /*font-family: Arial;*/
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: var(--ptp-dimension-1200, 24px); /* 171.429% */
}

h1{
  /*color: --pta-fg;*/
  /*font-family: Arial;*/
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: var(--ptp-dimension-1600, 32px); /* 133.333% */
}

h2{
  /*color: --pta-fg;*/
  /*font-family: Arial;*/
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: var(--ptp-dimension-1600, 32px); /* 160% */
}

h3{
  /*color: --pta-fg;*/
  /*font-family: Arial;*/
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: var(--ptp-dimension-1600, 32px); /* 177.778% */
}

blockquote{
  color: var(--pta-fg-subtle);
  /*font-family: Arial;*/
  font-size: 14px;
  font-style: italic;
  font-weight: 400;
  line-height: var(--ptp-dimension-1200, 24px); /* 171.429% */
}

.mahdaad-blockquote{
  display: flex;
  padding: var(--pta-space-100, 2px) var(--pta-space-300, 6px);
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  background: var(--pta-bg-secondary);
}

.mahdaad-mention{
  color: var(--pta-primary-fg);
  display: inline-flex;
  height: var(--pta-size-sm, 24px);
  gap:4px;
  padding-inline: 4px;
  /*min-width: var(--pta-size-lg, 40px);*/
  justify-content: center;
  align-items: center;
  /*flex-shrink: 0;*/
  border-radius: var(--pta-roundness-sm, 4px);
  border: 1px solid var(--pta-primary-br-subtle);
  background: var(--pta-primary-fill-subtle);
  /*color: --pta-primary-fg;*/
  /*font-family: Arial;*/
  font-size: var(--ptp-dimension-600, 12px);
  font-style: normal;
  font-weight: 400;
  line-height: var(--pta-lineheight-7, 14px); /* 116.667% */
}

.mahdaad-date-time{
  display: inline-flex;
  padding: var(--pta-space-200, 4px) var(--pta-space-300, 6px);
  align-items: center;
  gap: var(--pta-space-300, 6px);
  border-radius: var(--pta-roundness-md, 6px);
  background: var(--pta-bg-secondary);
  margin-inline-end: 6px;
}

.mahdaad-date-time .date,.mahdaad-date-time .time,.mahdaad-date-time .event{
  color: var(--mt-blue-5);
}










/*body{
  background-color: red;
}*/

/*input[type='checkbox'] {
  display: none;
}
label:before {
  background: rgb(30, 150, 235);
  border-radius: 3px;
  height: 16px;
  width: 16px;
  display: inline-block;
  cursor: pointer;
}
input[type='checkbox'] + label:before {
  content: '';
  background: rgb(30, 150, 235);
  color: #fff;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
}
input[type='checkbox']:checked + label:before {
  content: '✓';
}*/
